*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    /* border: 1px solid; */
}
body{
    height: 2000px;
}
.header{
    padding-top: 20px;
    height: 50px;
    background-color: #1c3961;
}
.header,.buttons>a{
    color: white;
}
.header,.mail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sub{
    margin: 0px 20px;
}
.mail{
    justify-content: space-between;
}
.fa{
   margin: 0px 15px; 
}
.navbar,.menu>ul{
    display: flex;
}
.navbar{
    flex-direction: row;
    justify-content: space-between;
    background-color: whitesmoke;
}
.menu>ul>li>a{
    text-decoration: none;
}
.menu>ul>li{
    list-style: none;
    margin: 0px 20px;
}
.logo{
    margin: 0px 100px;
}
.menu{
    padding:20px 0px ;
}
.carousel{
    background-image: url("../images/page-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}
.background{
    color: white;
    text-align: center;
    padding: 150px 0px;
}
.courses{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sub-courses{
    display: flex;
    flex-direction: row;
}
.single-course{
    border: 1px solid rgba(73, 73, 73, 0.568);
    width: 300px;
    margin: 0px 20px;
}
.single-course>img{
    width: 300px;
}
.single-course>button{
    border: none;
    background-color: #009450;
    padding: 10px 15px;
    color: white;
    position: relative;
    top: -25px;
    left: 50px;
}
.para{
    padding: 10px;
    /* padding-top: 20px; */
}
.para>p{
    margin-bottom: 20px;
}
.arrows{
    display: flex;
    flex-direction: row;
}
.arrows>hr{
    transform: rotate(90deg);
}
.arr{
    border: 1px solid;
    border-radius: 100%;
    margin: 50px 100px;
    width: 20px;
    text-align: center;
}
.question{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #2e3192;
    color: white;
}
.facilities,.why-us{
    width: 50%;
    height: 500px;
    /* border: 1px solid; */
}
.flex-row{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}
.fixed-position{
    position: relative;
    left: 20%;
    top: 20%;
}
.why-us{
    padding-top: 50px;
}
.btn>button{
    margin-top: 50px;
    border: 1px solid white;
    background-color: #2e3192;
    color: white;
    padding: 15px 30px;
}
.head{
    margin: 10px 0px;
}
.gallary-head,.eventHead,.feedbackHead,.newsHead{
    text-align: center;
    margin: 50px;
}
.img-gallary{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img-gallary>img{
    height: 200px;
    width: 300px;
}
.parentSubEvent{
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.eventImage>img{
    width: 350px;
}
.eventText{
    width: 230px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(219, 216, 216);
    position: relative;
    top: -220px;
    left: 234px;
    padding: 10px;
}
.subevents{
    height: 300px;
}
.identity>img{
    width: 100px;
}
.identity{
    text-align: center;
}
.feedback{
    width: 100%;
    background: #323e54;
}
.feedback{
    padding: 30px;
}
.feedbackHead>h2{
    color: #12a84e;
}
.feedbackHead>h1{
    color: white;
}
.client{
    width: 700px;
    position: relative;
    left: 275px;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
}
.subClient{
    width: 665px;
    padding: 20px;
    border: 1px solid;
}
.news{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.newsimg>img{
    width: 500px;
}
.newsTest{
    width: 400px;
    border: 1px solid rgb(194, 191, 191);
    position: relative;
    left: 45px;
    top: -50px;
    background-color: white;
    padding: 10px;
}
.seccondArrows{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px ;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
.aboutLink,.recentContact,.course{
    display: flex;
    flex-direction: row;
}
.aboutLink,.recentContact{
    justify-content: space-evenly;
}
.course{
    margin: 10px 0px;
}
.about,.link,.recent,.contact{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.about>p,.about>h3,.about>i,.link>h3,.link>a,.recent>h3,.contact>h3{
    padding: 15px 5px;
    color: white;
}
.course>h3{
    margin: 0px 10px;
}
.box{
    height: 70px;
    width: 70px;
    border-radius: 5px;
    background-color: red;
}
.form>input,.form>textarea{
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 25px;
    margin: 7px;
}
.form>button{
    background-color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin: 7px;
}
.lastwalaFooter,.copyright{
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 10px 10px;
}
.hr{
    width: 40%;
}