/* h1,h2,h3,h5{
    color: red;
} */

/* h1{
    color: red;
} */
/* .para{
    color: red;
}
.heading{
    color: green;
}
.images{
    color: blue;
} */

header{
    color: red;
}

footer{
    color: aqua;
}
#id1{
    color: blue;
}